<div class="container">
<h2>Contact - 1</h2>
<%= form_tag action_taken_stops_path, :method => :get, :remote => true, :class => "form-horizontal form-bordered"  do %>

  <div class="row top-buffer">
    <div class="container">
      <div class="form-group">
      <h4>Action Taken:<em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span> </h4>
        <div class="col-md-6">
      		<%= check_box_tag "actionstaken[]", 1 %>&nbsp Person removed from vehicle by order <br>
      		<%= check_box_tag "actionstaken[]", 2 %>&nbsp Person removed from vehicle by physical contact<br>
      		<%= check_box_tag "actionstaken[]", 3 %>&nbsp Field sobriety test conducted <br>
      		<%= check_box_tag "actionstaken[]", 4 %>&nbsp Curbside detention<br>
      		<%= check_box_tag "actionstaken[]", 5%>&nbsp Handcuffed or flex cuffed<br>
      		<%= check_box_tag "actionstaken[]", 6 %>&nbsp Patrol car detention<br>
      		<%= check_box_tag "actionstaken[]", 7 %>&nbsp Canine removed from vehicle or used to search<br>
      		<%= check_box_tag "actionstaken[]", 8 %>&nbsp Firearm pointed at person<br>
      		<%= check_box_tag "actionstaken[]", 9 %>&nbsp Firearm discharged or used<br>
      		<%= check_box_tag "actionstaken[]", 10 %>&nbsp Electronic control device<br>
      		<%= check_box_tag "actionstaken[]", 11 %>&nbsp Impact projectile discharged or used<br>
      		<%= check_box_tag "actionstaken[]", 12 %>&nbsp Canine bit or held person <br>
      		<%= check_box_tag "actionstaken[]", 13 %>&nbsp Baton or other impact weapon used<br>
      		<%= check_box_tag "actionstaken[]", 14 %>&nbsp Chemical spray used<br>
      		<%= check_box_tag "actionstaken[]", 15 %>&nbsp Other physical or vehicle contact<br>
      		<%= check_box_tag "actionstaken[]", 16 %>&nbsp Person photographed<br>
          <input type=checkbox id="search_person_yes" name="actionstaken[]" value="17"> Asked for consent to search person <br>

          <div class="search_person_yes">
            <b> Consent Given </b> <br>
        	  <%= radio_button_tag "consenttosearchpersongiven", true %>Yes&nbsp&nbsp
        	  <%= radio_button_tag "consenttosearchpersongiven", false %>No <br>
          </div>
          <input type=checkbox class="additional search_of_person" name="actionstaken[]" value="18"> Search of person was conducted <br>
          <input type=checkbox id="search_property_yes" class="additional asked_for_consent" name="actionstaken[]" value="19"> Asked for consent to search property <br>
          <div class="search_property_yes">
            <b> Consent Given </b> <br>
            <%= radio_button_tag "consenttosearchpropertygiven", true %>Yes&nbsp&nbsp
            <%= radio_button_tag "consenttosearchpropertygiven", false %>No <br>
          </div>

          <input type=checkbox id="searchofpropertyconducted" class="additional search_of_property" name="actionstaken[]" value="20">  Search of property was conducted <br>

          <input type=checkbox id="propertywasseized" class="additional property_was_seized" name="actionstaken[]" value="21"> Property was seized<br>

      		<%= check_box_tag "actionstaken[]", 22 %>&nbsp Vehicle impounded <br>
          <div class="person_stopped_student" style="display:none;">
            <%= check_box_tag "actionstaken[]", 23 %>&nbsp Admission or written statement obtained from student <br>
          </div>
          <%= check_box_tag "actionstaken[]", 24 %>&nbsp NONE <br>

        </div>
      </div>
    </div>
  </div>
  <input type="submit" value="Next" class="btn btn-primary pull-right">

<%end%>

</div>
<script>

  $(document).ready(function(){
    $('.search_person_yes').hide();
    $('.search_property_yes').hide();
  });
  $(".search_of_person").change(function(){
    if($(".search_of_person").is(":checked")) {
      $('.basis_for_search').show();
    }
    else {
      $('.basis_for_search').hide();
    }
  });
  $(".search_of_property").change(function(){
    if($(".search_of_property").is(":checked")) {
      $('.basis_for_search').show();
    }
    else {
      $('.basis_for_search').hide();
    }
  });
  $(".property_was_seized").change(function(){
    if($(".property_was_seized").is(":checked")) {
      $('.property_seized').show();
    }
    else {
      $('.property_seized').hide();
    }
  });

  $('#search_person_yes').change(function(){
    if($("#search_person_yes").is(":checked")) {
     $('.search_person_yes').show();
    }
    else{
      $('.search_person_yes').hide();
    }

  });

  $('#search_property_yes').change(function(){
    if($("#search_property_yes").is(":checked")) {
     $('.search_property_yes').show();
    }
    else{
      $('.search_property_yes').hide();
    }
  });
</script>
