<div class="container">
<h2>Contact - 1</h2>
<%= form_tag action_taken_stops_path, :method => :get, :remote => true, :class => "form-horizontal form-bordered"  do %>

  <div class="row top-buffer">
    <div class="container">
      <div class="form-group">
      <h4>Action Taken:<em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span> </h4>
        <div class="col-md-6">
      		<%= check_box_tag "removedbyorder" %>&nbsp Person removed from vehicle by order <br>
      		<%= check_box_tag "removedbycontact" %>&nbsp Person removed from vehicle by physical contact<br>
      		<%= check_box_tag "fieldsobrietytest" %>&nbsp Field sobriety test conducted <br>
      		<%= check_box_tag "curbsidedetention" %>&nbsp Curbside detention<br>
      		<%= check_box_tag "cuffed" %>&nbsp Handcuffed or flex cuffed<br>
      		<%= check_box_tag "cardetention" %>&nbsp Patrol car detention<br>
      		<%= check_box_tag "canineused" %>&nbsp Canine removed from vehicle or used to search<br>
      		<%= check_box_tag "firearmpointed" %>&nbsp Firearm pointed at person<br>
      		<%= check_box_tag "firearmused" %>&nbsp Firearm discharged or used<br>
      		<%= check_box_tag "stungunused" %>&nbsp Electronic control device<br>
      		<%= check_box_tag "rubberbulletsused" %>&nbsp Impact projectile discharged or used<br>
      		<%= check_box_tag "caninebit" %>&nbsp Canine bit or held person <br>
      		<%= check_box_tag "batonused" %>&nbsp Baton or other impact weapon used<br>
      		<%= check_box_tag "maceused" %>&nbsp Chemical spray used<br>
      		<%= check_box_tag "otherphysicalvehicle" %>&nbsp Other physical or vehicle contact<br>
      		<%= check_box_tag "photographed" %>&nbsp Person photographed<br>
      		<%= check_box_tag "search_person_yes" %>&nbsp Asked for consent to search person<br>
          <div class="search_person_yes">
            <b> Consent Given </b> <br>
        	  <%= radio_button_tag "consenttosearchpersongiven", true %>Yes&nbsp&nbsp
        	  <%= radio_button_tag "consenttosearchpersongiven", false %>No <br>
          </div>

          <%= check_box_tag "searchofpersonconducted", "", false, class: "additional search_of_person" %>&nbsp Search of person was conducted <br>
          <%= check_box_tag "search_property_yes", "", false, class: "additional asked_for_consent" %>&nbsp Asked for consent to search property <br>
          <div class="search_property_yes">
            <b> Consent Given </b> <br>
            <%= radio_button_tag "consenttosearchpropertygiven", true %>Yes&nbsp&nbsp
            <%= radio_button_tag "consenttosearchpropertygiven", false %>No <br>
          </div>
          <%= check_box_tag "searchofpropertyconducted", "", false, class: "additional search_of_property" %>&nbsp Search of property was conducted <br>
      		<%= check_box_tag "propertywasseized", "", false, class: "additional property_was_seized" %>&nbsp Property was seized <br>
      		<%= check_box_tag "impounded" %>&nbsp Vehicle impounded <br>
          <%= check_box_tag "none" %>&nbsp NONE <br>
          <%= check_box_tag "k12adminstatm" %>&nbsp Admission or written statement obtained from student <br>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" value="Next" class="btn btn-primary pull-right">

<%end%>

</div>
<script>

  $(document).ready(function(){
    $('.search_person_yes').hide();
    $('.search_property_yes').hide();
  });
  $(".search_of_person").change(function(){
    if($(".search_of_person").is(":checked")) {
      $('.basis_for_search').show();
    }
    else {
      $('.basis_for_search').hide();
    }
  });
  $(".search_of_property").change(function(){
    if($(".search_of_property").is(":checked")) {
      $('.basis_for_search').show();
    }
    else {
      $('.basis_for_search').hide();
    }
  });
  $(".property_was_seized").change(function(){
    if($(".property_was_seized").is(":checked")) {
      $('.property_seized').show();
    }
    else {
      $('.property_seized').hide();
    }
  });

  $('#search_person_yes').change(function(){
    if($("#search_person_yes").is(":checked")) {
     $('.search_person_yes').show();
    }
    else{
      $('.search_person_yes').hide();
    }

  });

  $('#search_property_yes').change(function(){
    if($("#search_property_yes").is(":checked")) {
     $('.search_property_yes').show();
    }
    else{
      $('.search_property_yes').hide();
    }
  });
</script>
