<div class="container">
<h4> Contact - 1 </h4>

<%= form_tag basis_for_search_stops_path, :remote => true,  :method => "get",:id => 'initial_stop_form',:class => "form-horizontal form-bordered"  do %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="" >Result of Stop Section: </label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span><br/>
        <%= check_box_tag "consentgiven" %>&nbsp Consent given <br>
        <%= check_box_tag "officersafety" %>&nbsp Officer safety/safety of others <br>
        <%= check_box_tag "searchwarrant" %>&nbsp Search Warrant <br>
        <%= check_box_tag "conditionofparole" %>&nbsp Condition of parole/probation/PRCS/mandatory supervision <br>
        <%= check_box_tag "suspectedweapon" %>&nbsp Suspected weapons <br>
        <%= check_box_tag "visiblecontraband"%>&nbsp Visible contraband <br>
        <%= check_box_tag "odorofcontraband" %>&nbsp Odor of contraband <br>
        <%= check_box_tag "caninedetection" %>&nbsp Canine detection <br>
        <%= check_box_tag "evidenceofcrime" %>&nbsp Evidence of crime <br>
        <%= check_box_tag "exigentcircumstances" %>&nbsp Exigent circumstances /emergency <br>
      </div>
      <div class="col-md-6">
            <label> Basis for Search Explanation/Narrative: <em>*</em></label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
              <textarea rows="6" cols="60" maxlength="250" class="form-control" name="basisforsearchnarrative"> Enter text here...</textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary pull-right" id="initial_stop_submit">
  </div>
<% end %>

</div>
