

  <h3> Contact - 1</h3><b class='basisSearchError'style="display:none;">Please select atleast one option</b>
  <%= form_tag basis_for_search_stops_path, :method => :get, :remote => true, :id => 'basis_for_search_form',:class => "form-horizontal form-bordered"  do %>
    <div class="container">
    <div class="control-group">
      <div class="controls span2">
        <h4> Basis for Search</h4>
        <div class="col-md-6">
        <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Consent given <br>
        <%= check_box_tag "basis_for_search[officer_safety]", "", false, class: "basis_for_search" %>&nbsp Officer safety/safety of others <br>
        <%= check_box_tag "basis_for_search[search_warrant]", "", false, class: "basis_for_search" %>&nbsp Search Warrant <br>
        <%= check_box_tag "basis_for_search[condition_of_parole]", "", false, class: "basis_for_search" %>&nbsp Condition of parole/probation/PRCS/mandatory supervision <br>
        <%= check_box_tag "basis_for_search[suspected_weapons]", "", false, class: "basis_for_search" %>&nbsp Suspected weapons <br>
        <%= check_box_tag "basis_for_search[visible_contraband]", "", false, class: "basis_for_search"%>&nbsp Visible contraband <br>
        <%= check_box_tag "basis_for_search[odor_of_contraband]", "", false, class: "basis_for_search" %>&nbsp Odor of contraband <br>
        <%= check_box_tag "basis_for_search[canine_detection]", "", false, class: "basis_for_search" %>&nbsp Canine detection <br>
        <%= check_box_tag "basis_for_search[evidence_of_crime]", "", false, class: "basis_for_search" %>&nbsp Evidence of crime <br>
        <%= check_box_tag "basis_for_search[exigent_circumstances]", "", false, class: "basis_for_search" %>&nbsp Exigent circumstances /emergency <br>
      </div>
        <div class="form-group">
              <label class="col-md-3 control-label" for="" > Basis for Search Explanation/Narrative: <em>*</em></label>
              <div class="col-md-6">
                <textarea rows="6" cols="60" maxlength="250" class="form-control"> Enter text here...</textarea>
              </div>
        </div>


        <div class="form-group">
        <h4> Contraband Evidence: <em>*</em></h4>
          <p style="font-family:Times New Roman;"> Please enter any contraband or evidence discovered, including any in plain view or as a result of a search.</p>
            <div class="col-md-6">
               <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp None <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Firearm(s) <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Ammunition <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Weapon(s) other than a firearm <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Drugs/narcotics <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Alcohol <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Money <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Drug paraphernalia <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Suspected stolen property <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Cell phone(s) or electronic device(s) <br>
                <%= check_box_tag "basis_for_search[consent_given]", "", false, class: "basis_for_search" %>&nbsp Other contraband or evidence <br>
            </div>
        </div>




      </div>
    </div>

    <div class="row row-buffer pull-right">
       <input type="submit" value="Next" class="btn btn-primary pull-right basis_for_search_submit">
    </div>

  <% end %>

</div>

<script>
$('.basis_for_search_submit').click(function(){
  if($('.basis_for_search:checked').length < 1){
    $('.basisSearchError').show();
    return false;
  }

});
</script>
