
<div class="container">
<h2> Contact - 1 </h2>

<%= form_tag result_of_stop_stops_path, :remote => true,  :method => "get",:id => 'initial_stop_form',:class => "form-horizontal form-bordered"  do %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="" >Filter by Offense Type of Statute CD: </label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">
        <%= radio_button_tag "Contraband", :id => "" %>&nbspPenal Code &nbsp &nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspHealth and Safety&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspWelfare and Institution&nbsp<br>
        <%= radio_button_tag "Contraband", :id => "" %>&nbspVehicle Code&nbsp&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspBusiness and Professional&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspOther&nbsp <br>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <label for="" >Filter by Code Section or Description: </label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">
        <%= radio_button_tag "filter_by_code", :id => "" %>&nbspCode Section &nbsp &nbsp&nbsp
        <%= radio_button_tag "filter_by_code", :id => "" %>&nbspDescription
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <label for="" >Result of Stop Section: <em>*</em></label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">

          <%= check_box_tag "result_of_stop[]", "1" %> No action <br>
          <input type='checkbox' value='2' name='result_of_stop[]' id='warning'> Warning <br>
          <div class="warning_div" style="display:none;">
            <div id="InputsWrapper">
              <select class="form-control warning_suspicion_cjis_offense_code" id="field_1" name="warning_suspicion_cjis_offense_code[]">
                <option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option>
                <option value="2">  Code Section (e.g. 290, 647, etc)</option>
                <option value="3">  Description (e.g. Drunk in public</option>
              </select>
              <span id="AddMoreFileBox" class="glyphicon glyphicon-plus-sign"></span>
            </div>

            <div id="lineBreak"></div>

            <!--&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
            <select name="yearselect">
              <option selected="selected">Select</option>
              <option value="year/1">65002 </option>
             </select>
             <a href="#">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a> <br>-->
          </div>


          <input type='checkbox' value='3' name='result_of_stop[]' id='citationorinfraction'> Citation or infraction
          <span class="citation_notification" style="display:none;"> 65002 LOCAL ORDINANCE VIOL </span>
          <br>
          <input type='checkbox' value='4' name='result_of_stop[]' id='infieldciteandrel'>  In-field cite and release <br>

          <div class="infield_div" style="display:none;">
            <div id="InfieldWrapper">
              <select class="form-control infield_suspicion_cjis_offense_code" id="field_1" name="infieldcite_suspicion_cjis_offense_code[]">
                <option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option>
                <option value="2">  Code Section (e.g. 290, 647, etc)</option>
                <option value="3">  Description (e.g. Drunk in public</option>
              </select>
              <span id="infieldAddMoreFileBox" class="glyphicon glyphicon-plus-sign"></span>
            </div>

            <div id="infieldlineBreak"></div>

            <!--&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
            <select name="yearselect">
              <option selected="selected">Select</option>
              <option value="year/1">65002 </option>
             </select>
             <a href="#">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a> <br>-->
          </div>

          <%= check_box_tag "result_of_stop[]", "5" %>&nbsp Custodial arrest pursuant to outstanding warrant <br>
          <input type='checkbox' value='6' name='result_of_stop[]' id='custodialarrestnowarr'> Custodial arrest without warrant <br>
          <div class="custodialarrestnowarr_div" style="display:none;">
            <div id="custodialarrestnowarrWrapper">
              <select class="form-control nowarr_suspicion_cjis_offense_code" id="field_1" name="custodialarrestnowarr_suspicion_cjis_offense_code[]">
                <option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option>
                <option value="2">  Code Section (e.g. 290, 647, etc)</option>
                <option value="3">  Description (e.g. Drunk in public</option>
              </select>
              <span id="custodialarrestnowarrAddMoreFileBox" class="glyphicon glyphicon-plus-sign"></span>
            </div>

            <div id="custodialarrestnowarrlineBreak"></div>

            <!--&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
            <select name="yearselect">
              <option selected="selected">Select</option>
              <option value="year/1">65002 </option>
             </select>
             <a href="#">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a> <br>-->
          </div>
          <%= check_box_tag "result_of_stop[]", "7" %>&nbsp Field interview card completed <br>
          <%= check_box_tag "result_of_stop[]", "8" %>&nbsp Noncriminal transport or caretaking transport <br>
          <%= check_box_tag "result_of_stop[]", "9" %>&nbsp Contacted parent/legal guardian or  other person responsible for the minor <br>
          <%= check_box_tag "result_of_stop[]", "10" %>&nbsp Psychiatric hold <br>
          <%= check_box_tag "result_of_stop[]", "11" %>&nbsp Contacted U.S. Department of Homeland Security (e.g., Immigration and Customs Enforcement, Customs and Border Protection)<br>
          <%= check_box_tag "result_of_stop[]", "12" %>&nbsp Referral to school administrator (if student) <br>
          <%= check_box_tag "result_of_stop[]", "13" %>&nbsp Referral to school counselor or other support staff (if student) <br>

      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary pull-right" id="initial_stop_submit">
  </div>
<% end %>

</div>



<script>



$(document).ready(function() {

var MaxInputs       = 5; //maximum extra input boxes allowed
var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
var InfieldWrapper = $("#InfieldWrapper");
var AddButton       = $("#AddMoreFileBox"); //Add button ID
var AddButtoninfield = $("#infieldAddMoreFileBox");
var nowarrWrapper = $("#custodialarrestnowarrWrapper");
var AddButtonnowarr       = $("#custodialarrestnowarrAddMoreFileBox");

var x = InputsWrapper.length; //initlal text box count

var y = InfieldWrapper.length;
var FieldCount=1; //to keep track of text box added

//on add input button click
$(AddButton).click(function (e) {
        //max input box allowed
        if(x <= MaxInputs) {
            FieldCount++; //text box added ncrement
            //add input box
            $(InputsWrapper).append('<div><select class="form-control warning_suspicion_cjis_offense_code" id="field_'+ FieldCount +'" name="warning_suspicion_cjis_offense_code[]"><option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option><option value="2">  Code Section (e.g. 290, 647, etc)</option><option value="3">  Description (e.g. Drunk in public</option></select> <span class="removeclass glyphicon glyphicon-minus-sign"></span><br/></div> ');
            x++; //text box increment

            //$("#AddMoreFileId").show();

            $('AddMoreFileBox').html("Add field");

            // Delete the "add"-link if there is 3 fields.
            if(x == 5) {
                //$("#AddMoreFileId").hide();
             	$("#lineBreak").html("<br>");
            }
        }
        return false;
});

$("body").on("click",".removeclass", function(e){ //user click on remove text
        if( x > 1 ) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox

            	//$("#AddMoreFileId").show();

            	$("#lineBreak").html("");

                // Adds the "add" link again when a field is removed.
                $('AddMoreFileBox').html("Add field");
        }
	return false;
})



//on add input button click
$(AddButtoninfield).click(function (e) {
        //max input box allowed
        if(x <= MaxInputs) {
            FieldCount++; //text box added ncrement
            //add input box
            $(InfieldWrapper).append('<div><select class="form-control infield_suspicion_cjis_offense_code" id="field_'+ FieldCount +'" name="infieldcite_suspicion_cjis_offense_code[]"><option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option><option value="2">  Code Section (e.g. 290, 647, etc)</option><option value="3">  Description (e.g. Drunk in public</option></select> <span class="infieldremoveclass glyphicon glyphicon-minus-sign"></span><br/></div> ');
            x++; //text box increment



            // Delete the "add"-link if there is 3 fields.
            if(x == 5) {
                //$("#AddMoreFileId").hide();
             	$("#infieldlineBreak").html("<br>");
            }
        }
        return false;
});

$("body").on("click",".infieldremoveclass", function(e){ //user click on remove text
        if( x > 1 ) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox

            	//$("#AddMoreFileId").show();

            	$("#infieldlineBreak").html("");

                // Adds the "add" link again when a field is removed.
                $('AddMoreFileBox').html("Add field");
        }
	return false;
})


$(AddButtonnowarr).click(function (e) {
      //alert();
        //max input box allowed
        if(x <= MaxInputs) {
            FieldCount++; //text box added ncrement
            //add input box
            $(nowarrWrapper).append('<div><select class="form-control nowarr_suspicion_cjis_offense_code" id="field_'+ FieldCount +'" name="custodialarrestnowarr_suspicion_cjis_offense_code[]"><option value="1">  Code Type (e.g. Vehicle Code, Penal Code, etc)</option><option value="2">  Code Section (e.g. 290, 647, etc)</option><option value="3">  Description (e.g. Drunk in public</option></select> <span class="nowarremoveclass glyphicon glyphicon-minus-sign"></span><br/></div> ');
            x++; //text box increment

            //$("#AddMoreFileId").show();

            //$('AddButtonnowarr').html("Add field");

            // Delete the "add"-link if there is 3 fields.
            if(x == 5) {
                //$("#AddMoreFileId").hide();
             	$("#lineBreak").html("<br>");
            }
        }
        return false;
});

$("body").on("click",".nowarremoveclass", function(e){ //user click on remove text
        if( x > 1 ) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox

            	//$("#AddMoreFileId").show();

            	$("#custodialarrestnowarrlineBreak").html("");

                // Adds the "add" link again when a field is removed.
                //$('AddMoreFileBox').html("Add field");
        }
	return false;
})


});


$("#warning").change(function(){
  //alert();
 if($("#warning").is(":checked")){
    $('.warning_div').show();
  }
  else{
    $('.warning_div').hide();
  }
});

$("#citationorinfraction").change(function(){
 if($("#citationorinfraction").is(":checked")){
    $('.citation_notification').show();
  }
  else{
    $('.citation_notification').hide();
  }
});

$("#infieldciteandrel").change(function(){
 if($("#infieldciteandrel").is(":checked")){
    $('.infield_div').show();
  }
  else{
    $('.infield_div').hide();
  }
});

$("#custodialarrestnowarr").change(function(){
 if($("#custodialarrestnowarr").is(":checked")){
    $('.custodialarrestnowarr_div').show();
  }
  else{
    $('.custodialarrestnowarr_div').hide();
  }
});


</script>
