
<div class="container">
<h4> Contact - 1 </h4>

<%= form_tag result_of_stop_stops_path, :remote => true,  :method => "get",:id => 'initial_stop_form',:class => "form-horizontal form-bordered"  do %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="" >Filter by Offense Type of Statute CD: </label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">
        <%= radio_button_tag "Contraband", :id => "" %>&nbspPenal Code &nbsp &nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspHealth and Safety&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspWelfare and Institution&nbsp<br>
        <%= radio_button_tag "Contraband", :id => "" %>&nbspVehicle Code&nbsp&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspBusiness and Professional&nbsp&nbsp
        <%= radio_button_tag "Contraband", :id => "" %>&nbspOther&nbsp <br>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <label for="" >Filter by Code Section or Description: </label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">
        <%= radio_button_tag "filter_by_code", :id => "" %>&nbspCode Section &nbsp &nbsp&nbsp
        <%= radio_button_tag "filter_by_code", :id => "" %>&nbspDescription
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <label for="" >Result of Stop Section: <em>*</em></label><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span>
      </div>
      <div class="col-md-9">
        <%= check_box_tag "Contraband", :id => "" %>&nbsp No action <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Warning <br><!--&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
        <select name="yearselect">
          <option selected="selected">Select</option>
          <option value="year/1">65002 </option>
         </select>
         <a href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a> <br>-->
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Citation or infraction<br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp In-field cite and release<br>
      <!--  <br>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
        <select name="yearselect">
          <option selected="selected">Select</option>
          <option value="year/1">65002 </option>
         </select>
         <a href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a> <br>-->
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Custodial arrest pursuant to outstanding warrant <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Custodial arrest without warrant <br>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
        <select name="yearselect">
          <option selected="selected">Select</option>
          <option value="year/1">65002 </option>
         </select>
         <a href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a> 	<br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Field interview card completed <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Noncriminal transport or caretaking transport <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Contacted parent/legal guardian or  other person responsible for the minor <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Psychiatric hold <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Contacted U.S. Department of Homeland Security (e.g., Immigration and Customs Enforcement, Customs and Border Protection)<br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Referral to school administrator (if student) <br>
        <%= check_box_tag "Contraband", :id => "" %>&nbsp Referral to school counselor or other support staff (if student) <br>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Next" class="btn btn-primary pull-right" id="initial_stop_submit">
  </div>
<% end %>

</div>
